<div class="mb-5">
    <!-- links -->
    <nav class="mt-3 mb-5 flex flex-wrap border-b border-white-light dark:border-[#191e3a]" role="tablist">
        <ng-container *ngFor="let tab of applicationTypes() | sortByOrder: 'ItemOrderID'; let index = index">
            <button [id]="'tab-' + tab.InboxType.toLowerCase()" role="tab"
                [attr.aria-selected]="activeTab.toLowerCase() === tab.InboxType.toLowerCase()"
                class="-mb-[1px] flex items-center border-transparent text-gray-600 p-5 py-3 !outline-none transition duration-300 hover:border-b-2 hover:!border-primary hover:text-primary font-bold text-xl"
                [ngClass]="{ 'border-b-2 !border-primary text-primary': activeTab.toLowerCase() === tab.InboxType.toLowerCase() }"
                (click)="tabChange(tab)">
                @if (store.index.locale === 'en') {
                {{tab.TitleEn}}
                }@else {
                {{tab.TitleAr}}
                }
            </button>
        </ng-container>

        <!--  <button id="tab-licenses" role="tab" [attr.aria-selected]="tab8.toLowerCase() === 'validlicenses'"
            class="-mb-[1px] flex items-center border-transparent text-gray-600 p-5 py-3 !outline-none transition duration-300 hover:border-b-2 hover:!border-primary hover:text-primary font-bold text-xl"
            [ngClass]="{ 'border-b-2 !border-primary text-primary': tab8.toLowerCase() === 'validlicenses'}"
            (click)="tab8 = 'validlicenses'">

            {{ 'applciationsPage.mainTabs.licenseTypes.active' | translate }}
        </button>

        <button id="tab-renewallicense" role="tab" [attr.aria-selected]="tab8.toLowerCase() === 'renewallicense'"
            class="-mb-[1px] flex items-center border-transparent text-gray-600 p-5 py-3 !outline-none transition duration-300 hover:border-b-2 hover:!border-primary hover:text-primary font-bold text-xl"
            [ngClass]="{ 'border-b-2 !border-primary text-primary': tab8.toLowerCase() === 'renewallicense' }"
            (click)="tab8 = 'renewallicense'">

            {{ 'applciationsPage.mainTabs.licenseTypes.pendingRenewal' | translate }}
        </button>
        <button id="tab-expiredlicense" role="tab" [attr.aria-selected]="tab8.toLowerCase() === 'expiredlicense'"
            class="-mb-[1px] flex items-center border-transparent text-gray-600 p-5 py-3 !outline-none transition duration-300 hover:border-b-2 hover:!border-primary hover:text-primary font-bold text-xl"
            [ngClass]="{ 'border-b-2 !border-primary text-primary': tab8.toLowerCase() === 'expiredlicense' }"
            (click)="tab8 = 'expiredlicense'">

            {{ 'applciationsPage.mainTabs.licenseTypes.expired' | translate }}
        </button>
        <button id="tab-canceledlicense" role="tab" [attr.aria-selected]="tab8.toLowerCase() === 'canceledlicense'"
            class="-mb-[1px] flex items-center border-transparent text-gray-600 p-5 py-3 !outline-none transition duration-300 hover:border-b-2 hover:!border-primary hover:text-primary font-bold text-xl"
            [ngClass]="{ 'border-b-2 !border-primary text-primary': tab8.toLowerCase() === 'canceledlicense' }"
            (click)="tab8 = 'canceledlicense'">

            {{ 'applciationsPage.mainTabs.licenseTypes.rejected' | translate }}
        </button>
        <button id="tab-revokedlicense" role="tab" [attr.aria-selected]="tab8.toLowerCase() === 'revokedlicense'"
            class="-mb-[1px] flex items-center border-transparent text-gray-600 p-5 py-3 !outline-none transition duration-300 hover:border-b-2 hover:!border-primary hover:text-primary font-bold text-xl"
            [ngClass]="{ 'border-b-2 !border-primary text-primary': tab8.toLowerCase() === 'revokedlicense' }"
            (click)="tab8 = 'revokedlicense'">

            {{ 'applciationsPage.mainTabs.licenseTypes.revoked' | translate }}
        </button>
 -->
    </nav>
    <!-- content -->

    <div class="flex-1 text-sm mt-4">
        <ng-container *ngFor="let tab of applicationTypes(); let index = index">

            <div *ngIf="tab.InboxType.toLowerCase() === activeTab.toLowerCase()" aria-labelledby="tab-allLicenses"
                role="tabpanel">
                <form class="flex justify-between flex-col md:flex-row gap-2">
                    <div class="w-full sm:w-1/4">
                        <input type="search"
                            [placeholder]="'applciationsPage.mainTabs.searchForm.searchPlaceholder' | translate"
                            class="border border-[#70707076] py-2 px-3 rounded w-full ltr:text-left rtl:text-right"
                            [ngClass]="{'direction-ltr': searchValIsArabic, 'direction-rtl': !searchValIsArabic}"
                            (input)="searchCards($event)">
                    </div>
                    <!-- <div class="flex gap-3">
                        <input type="text" [placeholder]="'applciationsPage.mainTabs.searchForm.exclude' | translate"
                            class="border w-1/2 sm:w-auto border-[#70707076] p-2 rounded">
                        <input type="text" [placeholder]="'applciationsPage.mainTabs.searchForm.order' | translate"
                            class="border w-1/2 sm:w-auto border-[#70707076] p-2 rounded">
                    </div> -->
                </form>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-5">
                    @if(!tabLoader()){

                    @if(cardsData().length > 0){
                    @for (card of paginatedApplications(); track $index) {
                    <app-single-licence-card [allData]="card" [singleLicenseCardData]="{
                            applicationType: store.index.locale === 'en'? card.ServiceTitleEn: card.ServiceTitleAr,
                            stats: {
                                'رقم الرخصة': card.ApprovedLicense,
                                'حالة الرخصة': store.index.locale === 'en'? card.FkStatusID_TitleEn: card.FkStatusID_TitleAr,
                                'تاريخ البداية': (card.LicenseCreationDate | date:'dd/MM/yyyy')!,
                                'تاريخ النهاية': (card.LicenseExpirationDate | date:'dd/MM/yyyy')!
                            },
                            actions: card.Actions
                        }"></app-single-licence-card>
                    }
                    }
                    }@else {
                    <div class="col-span-full flex justify-center">
                        <span
                            class="animate-spin border-4 border-black border-l-transparent rounded-full w-12 h-12 inline-block align-middle m-auto mb-10"></span>
                    </div>
                    }
                </div>
                @if (pageNumbers.length > 0) {

                <!-- pagination -->
                <div class="panel my-5 !shadow-none border border-[#B1AAB1] !p-2 ">
                    <div class="grid md:grid-cols-2 gap-2 md:gap-0">
                        <div class="flex gap-3 justify-center md:justify-start">
                            <div
                                class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#28C840] before:right-0 before:top-1/2 before:-translate-y-1/2">
                                <span class="text-green-800">
                                    {{ 'applciationsPage.categories.active' | translate}}
                                </span>
                            </div>
                            <div
                                class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#FEBC2E] before:right-0 before:top-1/2 before:-translate-y-1/2">
                                <span class="text-yellow-900">
                                    {{ 'applciationsPage.categories.pendingRenewal' | translate}}
                                </span>
                            </div>
                            <div
                                class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#707070A7] before:right-0 before:top-1/2 before:-translate-y-1/2">
                                <span class="text-gray-700">
                                    {{ 'applciationsPage.categories.expired' | translate}}
                                </span>
                            </div>
                            <div
                                class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#FE6058] before:right-0 before:top-1/2 before:-translate-y-1/2">
                                <span class="text-red-800">
                                    {{ 'applciationsPage.categories.rejected' | translate}}
                                </span>
                            </div>
                            <div
                                class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#000000] before:right-0 before:top-1/2 before:-translate-y-1/2">
                                <span class="text-[#000000]">
                                    {{ 'applciationsPage.categories.revoked' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="flex items-center w-full flex-col justify-center">
                            <ul
                                class="mx-auto md:ms-auto md:me-0 inline-flex rtl: items-center space-x-1 rtl:space-x-reverse">
                                <li>
                                    <button type="button" (click)="goToFirstPage()" [disabled]="currentPage() === 1"
                                        class="flex cursor-pointer justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="first page button"
                                        [ngClass]="{'opacity-90 !cursor-not-allowed': currentPage() === 1}">
                                        <icon-carets-down class="rotate-90 rtl:-rotate-90" />
                                    </button>
                                </li>
                                <li>
                                    <button type="button" (click)="goToPreviousPage()" [disabled]="currentPage() === 1"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition cursor-pointer hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="previous page button"
                                        [ngClass]="{'opacity-90 !cursor-not-allowed': currentPage() === 1}">
                                        <icon-caret-down class="h-5 w-5 rotate-90 rtl:-rotate-90" />
                                    </button>
                                </li>
                                <li class="flex">
                                    <ul
                                        class="m-auto inline-flex gap-x-1 items-center space-x-1 flex-row rtl:space-x-reverse">
                                        @for (page of displayedPages(); track $index) {
                                        <li>
                                            @if (page === 0) {
                                            <span
                                                class="flex justify-center rounded px-3.5 py-2 font-semibold text-gray-400">...</span>
                                            } @else {
                                            <button type="button"
                                                class="flex justify-center rounded px-3.5 py-2 font-semibold transition"
                                                [ngClass]="{
                                                    'bg-primary text-white dark:bg-primary dark:text-white-light': page === currentPage(),
                                                    'bg-white-light text-dark hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary': page !== currentPage()
                                                    }" (click)="goToPage(page)">
                                                {{ page }}
                                            </button>
                                            }
                                        </li>
                                        }
                                        <!--  <li>
                                                <button type="button"
                                                    class="flex justify-center rounded bg-primary px-3.5 py-2 font-semibold text-white transition dark:bg-primary dark:text-white-light">
                                                    2
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button"
                                                    class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary">
                                                    3
                                                </button>
                                            </li> -->
                                    </ul>

                                </li>
                                <li>
                                    <button type="button" (click)="goToNextPage()"
                                        [disabled]="currentPage() === totalPages()"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition cursor-pointer hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="next page button"
                                        [ngClass]="{'opacity-90 !cursor-not-allowed': currentPage() === totalPages()}">
                                        <icon-caret-down class="h-5 w-5 -rotate-90 rtl:rotate-90" />
                                    </button>
                                </li>
                                <li>
                                    <button type="button" (click)="goToLastPage()"
                                        [disabled]="currentPage() === totalPages()"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition cursor-pointer hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="last page button"
                                        [ngClass]="{'opacity-90 !cursor-not-allowed': currentPage() === totalPages()}">
                                        <icon-carets-down class="-rotate-90 rtl:rotate-90" />
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                }
            </div>
        </ng-container>
        <!--   <div *ngIf="tab8.toLowerCase() === 'validlicenses'">

            <div>
                <form class="flex justify-between flex-col md:flex-row gap-2">
                    <div class="w-full sm:w-1/4">
                        <input type="search"
                            [placeholder]="'applciationsPage.mainTabs.searchForm.searchPlaceholder' | translate"
                            class="border border-[#70707076] py-2 px-3 rounded w-full">
                    </div>
                    <div class="flex gap-3">
                        <input type="text" [placeholder]="'applciationsPage.mainTabs.searchForm.exclude' | translate"
                            class="border w-1/2 sm:w-auto border-[#70707076] p-2 rounded">
                        <input type="text" [placeholder]="'applciationsPage.mainTabs.searchForm.order' | translate"
                            class="border w-1/2 sm:w-auto border-[#70707076] p-2 rounded">
                    </div>
                </form>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-5">
                    <app-single-licence-card></app-single-licence-card>
                </div>
                <div class="panel my-5 !shadow-none border border-[#B1AAB1] !p-2 ">
                    <div class="grid md:grid-cols-2 gap-2 md:gap-0">
                       <div class="flex gap-3 justify-center md:justify-start">
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#28C840] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-green-800">
                                {{ 'applciationsPage.categories.active' | translate}}
                            </span>
                        </div>
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#FEBC2E] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-yellow-900">
                                {{ 'applciationsPage.categories.pendingRenewal' | translate}}
                            </span>
                        </div>
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#707070A7] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-gray-700">
                                {{ 'applciationsPage.categories.expired' | translate}}
                            </span>
                        </div>
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#FE6058] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-red-800">
                                {{ 'applciationsPage.categories.rejected' | translate}}
                            </span>
                        </div>
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#000000] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-[#000000]">
                                {{ 'applciationsPage.categories.revoked' | translate}}
                            </span>
                        </div>
                    </div>
                        <div class="flex items-center w-full flex-col justify-center">
                            <ul
                                class="mx-auto md:ms-auto md:me-0 inline-flex items-center space-x-1 rtl:space-x-reverse">
                                <li>
                                    <button type="button"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="first page button">
                                        <icon-carets-down class="rotate-90 rtl:-rotate-90" />
                                    </button>
                                </li>
                                <li>
                                    <button type="button"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="previous page button">
                                        <icon-caret-down class="h-5 w-5 rotate-90 rtl:-rotate-90" />
                                    </button>
                                </li>
                                <li class="flex">
                                    <ul
                                        class="m-auto inline-flex gap-x-1 items-center space-x-1 ltr:flex-row rtl:flex-row-reverse rtl:space-x-reverse">
                                        <li>
                                            <button type="button"
                                                class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary">
                                                1
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button"
                                                class="flex justify-center rounded bg-primary px-3.5 py-2 font-semibold text-white transition dark:bg-primary dark:text-white-light">
                                                2
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button"
                                                class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary">
                                                3
                                            </button>
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <button type="button"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="next page button">
                                        <icon-caret-down class="h-5 w-5 -rotate-90 rtl:rotate-90" />
                                    </button>
                                </li>
                                <li>
                                    <button type="button"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="last page button">
                                        <icon-carets-down class="-rotate-90 rtl:rotate-90" />
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="tab8.toLowerCase() === 'renewallicense'">
            <div>
                <form class="flex justify-between flex-col md:flex-row gap-2">
                    <div class="w-full sm:w-1/4">
                        <input type="search"
                            [placeholder]="'applciationsPage.mainTabs.searchForm.searchPlaceholder' | translate"
                            class="border border-[#70707076] py-2 px-3 rounded w-full">
                    </div>
                    <div class="flex gap-3">
                        <input type="text" [placeholder]="'applciationsPage.mainTabs.searchForm.exclude' | translate"
                            class="border w-1/2 sm:w-auto border-[#70707076] p-2 rounded">
                        <input type="text" [placeholder]="'applciationsPage.mainTabs.searchForm.order' | translate"
                            class="border w-1/2 sm:w-auto border-[#70707076] p-2 rounded">
                    </div>
                </form>
            </div>
        </div>
        <div *ngIf="tab8.toLowerCase() === 'expiredlicense'">
            <div>
                <form class="flex justify-between flex-col md:flex-row gap-2">
                    <div class="w-full sm:w-1/4">
                        <input type="search"
                            [placeholder]="'applciationsPage.mainTabs.searchForm.searchPlaceholder' | translate"
                            class="border border-[#70707076] py-2 px-3 rounded w-full">
                    </div>
                    <div class="flex gap-3">
                        <input type="text" [placeholder]="'applciationsPage.mainTabs.searchForm.exclude' | translate"
                            class="border w-1/2 sm:w-auto border-[#70707076] p-2 rounded">
                        <input type="text" [placeholder]="'applciationsPage.mainTabs.searchForm.order' | translate"
                            class="border w-1/2 sm:w-auto border-[#70707076] p-2 rounded">
                    </div>
                </form>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-5">
                    <app-single-licence-card></app-single-licence-card>
                </div>
                <div class="panel my-5 !shadow-none border border-[#B1AAB1] !p-2 ">
                    <div class="grid md:grid-cols-2 gap-2 md:gap-0">
                       <div class="flex gap-3 justify-center md:justify-start">
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#28C840] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-green-800">
                                {{ 'applciationsPage.categories.active' | translate}}
                            </span>
                        </div>
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#FEBC2E] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-yellow-900">
                                {{ 'applciationsPage.categories.pendingRenewal' | translate}}
                            </span>
                        </div>
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#707070A7] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-gray-700">
                                {{ 'applciationsPage.categories.expired' | translate}}
                            </span>
                        </div>
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#FE6058] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-red-800">
                                {{ 'applciationsPage.categories.rejected' | translate}}
                            </span>
                        </div>
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#000000] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-[#000000]">
                                {{ 'applciationsPage.categories.revoked' | translate}}
                            </span>
                        </div>
                    </div>
                        <div class="flex items-center w-full flex-col justify-center">
                            <ul
                                class="mx-auto md:ms-auto md:me-0 inline-flex items-center space-x-1 rtl:space-x-reverse">
                                <li>
                                    <button type="button"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="first page button">
                                        <icon-carets-down class="rotate-90 rtl:-rotate-90" />
                                    </button>
                                </li>
                                <li>
                                    <button type="button"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="previous page button">
                                        <icon-caret-down class="h-5 w-5 rotate-90 rtl:-rotate-90" />
                                    </button>
                                </li>
                                <li class="flex">
                                    <ul
                                        class="m-auto inline-flex gap-x-1 items-center space-x-1 ltr:flex-row rtl:flex-row-reverse rtl:space-x-reverse">
                                        <li>
                                            <button type="button"
                                                class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary">
                                                1
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button"
                                                class="flex justify-center rounded bg-primary px-3.5 py-2 font-semibold text-white transition dark:bg-primary dark:text-white-light">
                                                2
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button"
                                                class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary">
                                                3
                                            </button>
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <button type="button"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="next page button">
                                        <icon-caret-down class="h-5 w-5 -rotate-90 rtl:rotate-90" />
                                    </button>
                                </li>
                                <li>
                                    <button type="button"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="last page button">
                                        <icon-carets-down class="-rotate-90 rtl:rotate-90" />
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="tab8.toLowerCase() === 'canceledlicense'">
            <div>
                <form class="flex justify-between flex-col md:flex-row gap-2">
                    <div class="w-full sm:w-1/4">
                        <input type="search"
                            [placeholder]="'applciationsPage.mainTabs.searchForm.searchPlaceholder' | translate"
                            class="border border-[#70707076] py-2 px-3 rounded w-full">
                    </div>
                    <div class="flex gap-3">
                        <input type="text" [placeholder]="'applciationsPage.mainTabs.searchForm.exclude' | translate"
                            class="border w-1/2 sm:w-auto border-[#70707076] p-2 rounded">
                        <input type="text" [placeholder]="'applciationsPage.mainTabs.searchForm.order' | translate"
                            class="border w-1/2 sm:w-auto border-[#70707076] p-2 rounded">
                    </div>
                </form>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-5">
                    <app-single-licence-card></app-single-licence-card>
                </div>
                <div class="panel my-5 !shadow-none border border-[#B1AAB1] !p-2 ">
                    <div class="grid md:grid-cols-2 gap-2 md:gap-0">
                       <div class="flex gap-3 justify-center md:justify-start">
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#28C840] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-green-800">
                                {{ 'applciationsPage.categories.active' | translate}}
                            </span>
                        </div>
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#FEBC2E] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-yellow-900">
                                {{ 'applciationsPage.categories.pendingRenewal' | translate}}
                            </span>
                        </div>
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#707070A7] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-gray-700">
                                {{ 'applciationsPage.categories.expired' | translate}}
                            </span>
                        </div>
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#FE6058] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-red-800">
                                {{ 'applciationsPage.categories.rejected' | translate}}
                            </span>
                        </div>
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#000000] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-[#000000]">
                                {{ 'applciationsPage.categories.revoked' | translate}}
                            </span>
                        </div>
                    </div>
                        <div class="flex items-center w-full flex-col justify-center">
                            <ul
                                class="mx-auto md:ms-auto md:me-0 inline-flex items-center space-x-1 rtl:space-x-reverse">
                                <li>
                                    <button type="button"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="first page button">
                                        <icon-carets-down class="rotate-90 rtl:-rotate-90" />
                                    </button>
                                </li>
                                <li>
                                    <button type="button"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="previous page button">
                                        <icon-caret-down class="h-5 w-5 rotate-90 rtl:-rotate-90" />
                                    </button>
                                </li>
                                <li class="flex">
                                    <ul
                                        class="m-auto inline-flex gap-x-1 items-center space-x-1 ltr:flex-row rtl:flex-row-reverse rtl:space-x-reverse">
                                        <li>
                                            <button type="button"
                                                class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary">
                                                1
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button"
                                                class="flex justify-center rounded bg-primary px-3.5 py-2 font-semibold text-white transition dark:bg-primary dark:text-white-light">
                                                2
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button"
                                                class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary">
                                                3
                                            </button>
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <button type="button"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="next page button">
                                        <icon-caret-down class="h-5 w-5 -rotate-90 rtl:rotate-90" />
                                    </button>
                                </li>
                                <li>
                                    <button type="button"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="last page button">
                                        <icon-carets-down class="-rotate-90 rtl:rotate-90" />
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="tab8.toLowerCase() === 'revokedlicense'">
            <div>
                <form class="flex justify-between flex-col md:flex-row gap-2">
                    <div class="w-full sm:w-1/4">
                        <input type="search"
                            [placeholder]="'applciationsPage.mainTabs.searchForm.searchPlaceholder' | translate"
                            class="border border-[#70707076] py-2 px-3 rounded w-full">
                    </div>
                    <div class="flex gap-3">
                        <input type="text" [placeholder]="'applciationsPage.mainTabs.searchForm.exclude' | translate"
                            class="border w-1/2 sm:w-auto border-[#70707076] p-2 rounded">
                        <input type="text" [placeholder]="'applciationsPage.mainTabs.searchForm.order' | translate"
                            class="border w-1/2 sm:w-auto border-[#70707076] p-2 rounded">
                    </div>
                </form>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-5">
                    <app-single-licence-card></app-single-licence-card>
                </div>
                <div class="panel my-5 !shadow-none border border-[#B1AAB1] !p-2 ">
                    <div class="grid md:grid-cols-2 gap-2 md:gap-0">
                       <div class="flex gap-3 justify-center md:justify-start">
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#28C840] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-green-800">
                                {{ 'applciationsPage.categories.active' | translate}}
                            </span>
                        </div>
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#FEBC2E] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-yellow-900">
                                {{ 'applciationsPage.categories.pendingRenewal' | translate}}
                            </span>
                        </div>
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#707070A7] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-gray-700">
                                {{ 'applciationsPage.categories.expired' | translate}}
                            </span>
                        </div>
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#FE6058] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-red-800">
                                {{ 'applciationsPage.categories.rejected' | translate}}
                            </span>
                        </div>
                        <div
                            class="flex items-center relative pr-5 before:content-[''] before:absolute before:w-3 before:h-3 before:bg-[#000000] before:right-0 before:top-1/2 before:-translate-y-1/2">
                            <span class="text-[#000000]">
                                {{ 'applciationsPage.categories.revoked' | translate}}
                            </span>
                        </div>
                    </div>
                        <div class="flex items-center w-full flex-col justify-center">
                            <ul
                                class="mx-auto md:ms-auto md:me-0 inline-flex items-center space-x-1 rtl:space-x-reverse">
                                <li>
                                    <button type="button"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="first page button">
                                        <icon-carets-down class="rotate-90 rtl:-rotate-90" />
                                    </button>
                                </li>
                                <li>
                                    <button type="button"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="previous page button">
                                        <icon-caret-down class="h-5 w-5 rotate-90 rtl:-rotate-90" />
                                    </button>
                                </li>
                                <li class="flex">
                                    <ul
                                        class="m-auto inline-flex gap-x-1 items-center space-x-1 ltr:flex-row rtl:flex-row-reverse rtl:space-x-reverse">
                                        <li>
                                            <button type="button"
                                                class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary">
                                                1
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button"
                                                class="flex justify-center rounded bg-primary px-3.5 py-2 font-semibold text-white transition dark:bg-primary dark:text-white-light">
                                                2
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button"
                                                class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary">
                                                3
                                            </button>
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <button type="button"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="next page button">
                                        <icon-caret-down class="h-5 w-5 -rotate-90 rtl:rotate-90" />
                                    </button>
                                </li>
                                <li>
                                    <button type="button"
                                        class="flex justify-center rounded bg-white-light px-3.5 py-2 font-semibold text-dark transition hover:bg-primary hover:text-white dark:bg-[#191e3a] dark:text-white-light dark:hover:bg-primary"
                                        aria-label="last page button">
                                        <icon-carets-down class="-rotate-90 rtl:rotate-90" />
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    </div>