<div class="space-y-4">
    <div>
        <app-single-application-horizontal-row [dataToDisplay]="{
        'رقم الطلب':'123',
        'تاريخ التقديم':'12/12/2023',
        'مرسل الطلب':'موظف الرياضة 1',
        'رئيس القسم':'رئيس القسم 1',
        'الخبير':'الخبير 1'
    }"></app-single-application-horizontal-row>
    </div>
    <div>
        <app-single-application-horizontal-row [dataToDisplay]="{
        'رقم الطلب':'123',
        'تاريخ التقديم':'12/12/2023',
        'مرسل الطلب':'موظف الرياضة 1',
        'رئيس القسم':'رئيس القسم 1',
        'الخبير':'الخبير 1'
    }"></app-single-application-horizontal-row>
    </div>
    <div>
        <app-single-application-horizontal-row [dataToDisplay]="{
        'رقم الطلب':'123',
        'تاريخ التقديم':'12/12/2023',
        'مرسل الطلب':'موظف الرياضة 1',
        'رئيس القسم':'رئيس القسم 1',
        'الخبير':'الخبير 1'
    }"></app-single-application-horizontal-row>
    </div>
</div>