<app-bread-crumps [pageName]="translations?.DefineServiceAttachments?.label" [url]="itemURL"></app-bread-crumps>

<form class="min-h-80 mb-5 rounded-md border border-[#ebedf2] bg-white p-4 dark:border-[#191e3a] dark:bg-[#0e1726]"
  [formGroup]="AssignAttachmentToRequestForm">

  <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-5 gap-3">
    <h2 class="text-lg font-bold">
      {{ translations?.search?.label }}
    </h2>


  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">



    <div>
      <label for="FKServiceID">{{ translations?.ServiceType?.label }}</label>
      <ng-select [items]="ServiceList" id="FKServiceID" bindLabel="ServiceID" bindValue="ServiceID"
        [placeholder]="translations?.ServiceType?.label" formControlName="FKServiceID" [searchFn]="customSearchFn"
        aria-labelledby="FKServiceID-label" (clear)="onServiceCleared()" (change)="onServiceSelected($event)">
        <span id="FKServiceID-label" class="sr-only">{{ translations?.ServiceType?.label }}</span>
        <ng-template ng-label-tmp let-item="item">
          {{ translate.currentLang === 'ae' ? item.ServiceTitleAr : item.ServiceTitleEn }}
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          {{ translate.currentLang === 'ae' ? item.ServiceTitleAr : item.ServiceTitleEn }}
        </ng-template>
      </ng-select>
    </div>

    <div *ngIf="showProcessType && (AssignAttachmentToRequestForm.get('FKServiceID')?.value !== -1)">
      <label for="ProcessID">{{ translations?.ProcessType?.label }}</label>
      <ng-select [items]="Processes" id="ProcessID" bindLabel="ProcessID" bindValue="ProcessID"
        [placeholder]="translations?.ProcessType?.label" formControlName="ProcessID" [searchFn]="customSearchFn"
        aria-labelledby="ProcessID-label" (clear)="onServiceCleared()"
        (change)="onProcessSelected(AssignAttachmentToRequestForm.get('FKServiceID')?.value,AssignAttachmentToRequestForm.get('ProcessID')?.value)">
        <span id="ProcessID-label" class="sr-only">{{ translations?.RequestType?.label }}</span>
        <ng-template ng-label-tmp let-item="item">
          {{ translate.currentLang === 'ae' ? item.TitleAr : item.TitleEn }}
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          {{ translate.currentLang === 'ae' ? item.TitleAr : item.TitleEn }}
        </ng-template>
      </ng-select>
    </div>
  </div>
  <div class="flex flex-wrap justify-center gap-3 mt-6" *ngIf="showData">
    <button type="button" class="btn btn-primary" title="{{ translations?.edit?.label }}"
      (click)="onAssignAttachments()">
      <icon-edit class="me-2"></icon-edit>
      <span>{{ translations?.edit?.label }}</span>
    </button>
  </div>
</form>


<div class="table-container" role="region" tabindex="0" *ngIf="showData">
  <ng-datatable [isServerMode]="true" [rows]="rows" [columns]="cols" [showPageSize]="true" [sortable]="true"
    [pagination]="true" [noDataContent]="translations?.NoDataFound?.label" [totalRows]="paginationInfo.TotalRows"
    [pageSize]="paginationInfo.PageSize" [page]="paginationInfo.CurrentPage" [paginationInfo]="paginationInfoText"
    (changeServer)="onServerChange($event)" [showNumbers]="true" skin="whitespace-nowrap table-hover"
    firstArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
    lastArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg> '
    previousArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
    nextArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'>
    >

  </ng-datatable>
</div>